{% load static %}
<!doctype html>
<html>

<head>
    <title>Интернет-магазин ударных музыкальных инструментов</title>
        <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static "static_dev/css/style.css" %}" rel='stylesheet' type='text/css' />


</head>

<body>

    <div class="wrapper">
        <div class="content">
            {% include 'navbar.html' %}

            {% block content %}
            {% endblock %}
        </div>
        {% include 'footer.html' %}
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="{% static 'static_dev/js/scripts.js' %}"></script>

</body>
</html>