<br>

<div class="footer">
    <footer class="footer">
        <div class="container">
            <div class="text">
               <h4>Наши контакты:</h4>
               <h4>e-mail: drumshop@google.com</h4>
               <h4>Телефон: 8-800-123-23-23</h4>
               <h6>Некоммерческий сайт для дипломного проекта. Фото товаров, описание товаров и некоторая информация взяты с сайта <a href="https://www.muztorg.ru">https://www.muztorg.ru</a></h6>
            </div>
        </div>
    </footer>
</div>



